@font-face {
    font-family: iciel;
    src: url(../fonts/iCiel-Bambola.ttf.eot) format('embedded-opentype'),
         url(../fonts/iCiel-Bambola.ttf.woff) format('woff');
}

@font-face {
    font-family: bebas;
    src: url(../fonts/bebas.ttf) format('truetype'),
}
